@use 'base/variables';
@use 'base/fonts';
@use 'base/reset';
@use 'layout/header';
@use 'layout/nav';
@use 'layout/main-banner';
@use 'layout/main-overview';
@use 'layout/main-example';

body {
  width: 320px;
  margin: 0 auto;
  font-family: fonts.$font-main;
  font-size: fonts.$font-size;

  @media (min-width: 768px) {
    width: 768px;
  }

  @media (min-width: 1440px) {
    width: 1440px;
  }
}
