@use 'base/variables';
@use 'base/fonts';
@use 'base/reset';
@use 'base/mixins';
@use 'layout/header';
@use 'layout/nav';
@use 'layout/main-banner';
@use 'layout/main-programs';
@use 'layout/main-overview';
@use 'layout/main-example';
@use 'layout/main-address';
@use 'layout/main-footer';

body {
  width: 320px;
  margin: 0 auto;
  font-family: fonts.$font-main;
  font-size: fonts.$font-size;

  @media (width >= 768px) {
    width: 768px;
  }

  @media (width >= 1440px) {
    width: 1440px;
  }
}

.main {
  padding: 70px 0 0;

  @media (width >= 768px) {
    padding: 0;
  }
}

.main-divider {
  @include mixins.main-divider;

  display: none;

  @media (width >= 768px) {
    display: block;
  }

  @media (width >= 1440px) {
    display: none;
  }
}
