@use '../base/variables';
@use '../base/mixins';
@use '../base/fonts';

// === Header ===
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: white;
  position: fixed;
  margin: 0 auto;
  z-index: 1000;
  width: 320px;
  background-color: white;

  &.scrolled {
    background-color: rgb(255 255 255 / 80%);
  }

  @media (width >= 768px) {
    width: 768px;
    padding: 30px;
    transition: background-color 0.3s ease;
    background-color: transparent;
  }

  @media (width >= 1440px) {
    width: 1440px;
    padding: 50px variables.$sectionPadding 20px;
  }

  &__logo {
    font-size: 1.5rem;
    font-weight: bold;
  }

  &__nav {
    position: relative;
  }
}