@use '../base/variables';
@use '../base/mixins';
// === Main Banner ===
.main-banner {
  background: url("../../assets/index-background-mobile.png") no-repeat;
  color: variables.$mobileMainBannerColor;
  padding: 27px 0 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "A"
    "B"
    "C"
    "D";

  @media (min-width: 768px) {
    background: white;
    color: variables.$desktopMainBannerColor;
    padding: 160px 50px 50px 110px;
    grid-template-areas:
      "A"
      "B"
      "D"
      "C";
  }

  @media (min-width: 1440px) {
    background: url("../../assets/index-background-desktop.png") no-repeat;
    background-position: right;
    padding-top: 140px;
    padding-left: calc(50px + #{variables.$sectionPadding});
    grid-template-columns: 1fr 1fr 275px;
    grid-template-areas:
    "space C empty"
      "A C empty"
      "B C empty"
      "D C empty"
      "E C empty";
  }

  &__title {
    font-size: variables.$mobTitleFontSize;
    text-align: center;
    grid-area: A;
    line-height: 36px;

    @media (min-width: 768px) {
      font-size: 60px;
      text-align: left;
      line-height: 60px;
      width: 500px;
    }

    @media (min-width: 1440px) {
      width: auto;
    }
  }

  &__subtitle {
    text-transform: uppercase;
    text-align: center;
    margin: 25px 0;
    grid-area: B;

    @media (min-width: 768px) {
      font-size: 20px;
      text-align: left;
    }
  }

  &__button {
    @include mixins.flex-center;
    background-color: variables.$primaryBgColor;
    padding: 10px;
    text-transform: uppercase;
    margin: 20px;
    grid-area: D;

    @media (min-width: 768px) {
      font-size: 20px;
      color: white;
      width: 244px;
      margin: 20px 0;
    }
  }

  &__image {
    height: 280px;
    grid-area: C;

    @media (min-width: 768px) {
      height: 609px;
      margin-top: -100px;
      margin-left: -30px;
    }

    @media (min-width: 1440px) {
      height: 499px;
      margin-top: 0;
    }
  }
}