@use '../base/variables';
@use '../base/mixins';
@use '../base/fonts';

#map {
  height: 500px;
}

.main-footer {
  margin: 50px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #444;
  font-size: 16px;
  font-family: fonts.$font-secondary;

  @media (width >= 768px) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (width >= 1440px) {
    padding: 0 variables.$sectionPadding;
  }

  &__divider {
    @include mixins.main-divider;

    margin: 20px auto;

    @media (width >= 768px) {
      display: none;
    }
  }

  &__icons {
    width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__html-academy {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span:first-of-type {
      margin-right: 20px;
    }

    @media (width >= 768px) {
      width: fit-content;
    }
  }
}
