@use '../base/variables';
@use '../base/mixins';
@use '../base/fonts';

#map {
  height: 500px;
}

.main-address {
  position: relative;

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "K L" "K M" "K N";
    font-size: 14px;
    color: #444;
    font-family: fonts.$font-secondary;
    margin: 20px;

    @media (width >= 768px) {
      margin: 60px 50px 50px;
      font-size: 16px;
      text-align: end;
      grid-template: "K empty empty L" 1fr "K empty empty M" 1fr "K empty empty space" 1fr "K empty empty N" 1fr / 1fr 1fr 1fr 1fr;
    }

    @media (width >= 1440px) {
      position: absolute;
      z-index: 20;
      top: 70px;
      left: 70px;
      background-color: white;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-areas: "K L" "K M" "K N";
      width: 570px;
      padding: 50px 70px;
    }
  }

  &__text {
    &--street {
      grid-area: L;
    }

    &--building {
      grid-area: M;
    }

    &--city {
      grid-area: N;
    }
  }

  &__text--highlight {
    font-size: 16px;
    font-family: fonts.$font-main;
    text-transform: uppercase;
    grid-area: K;
    text-align: start;

    @media (width >= 768px) {
      font-size: 20px;
    }
  }
}
