// === Navigation ===

.nav {
  &__burger {
    background: none;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 24px;
    position: relative;
    z-index: 3;

    @media (width >= 768px) {
      display: none;
    }

    .burger-icon {
      position: relative;
      display: block;
      width: 100%;
      height: 2px;
      background-color: black;
      transition: background 0.3s ease;

      &::before,
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: black;
        left: 0;
        transition: transform 0.3s ease, top 0.3s ease, bottom 0.3s ease;
      }

      &::before {
        top: -8px;
      }

      &::after {
        top: 8px;
      }
    }

    &.active .burger-icon {
      background-color: transparent;

      &::before {
        transform: rotate(45deg);
        top: 0;
      }

      &::after {
        transform: rotate(-45deg);
        top: 0;
      }
    }

    &.active .burger-icon {
      background-color: transparent;

      &::before {
        transform: rotate(45deg);
        top: 0;
      }

      &::after {
        transform: rotate(-45deg);
        bottom: 0;
      }
    }
  }

  &__list {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #68b738;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    display: none;
    list-style: none;

    &.active {
      display: flex;
    }

    li a {
      text-transform: uppercase;
      font-weight: 500;
      color: black;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      &.scrolled {
        color: black;
      }
    }

    @media (width >= 768px) {
      display: flex;
      flex-direction: row;
      position: relative;
      gap: 1.5rem;
      background: transparent;

      li a {
        text-decoration: none;
        font-weight: 500;
        color: black;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    @media (width >= 1440px) {
      li a {
        color: white;
        font-size: 20px;
      }
    }
  }
}